:root{
	--c_blue: #2124d6;
	--c_red: #D62421;
	--c_green: #24D621;
	--c_white: #ffffff;
	--c_black: #1d253b;
}
body{
	font-family:'Mukta Vaani',sans-serif;
}
button, input, optgroup, select, textarea{
	font-family:'Mukta Vaani',sans-serif;	
}
h1,h2,h3,h4,h5,h6{
	font-weight:600;
}

.text-blue {
    color: #2124d6 !important;
    font-weight: bold;
}
.content-header h3{
	font-weight:500;
	margin-bottom:25px;
}

.content-header h3 span{
	color:#494949;
}

.h2-heading {
    margin: 0px;
    display: inline-block;
}
.req-btn {
    float: right;
}
.pad {
    padding: 10px;
}
.clickable-row:hover {
    cursor: pointer;
	color: #ffffff;
	/* background-color:lightgray; */
	background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%);
}
.clickable-row:hover td {
	background: transparent;
}
.logo-wrapper{
	display:inline-block;
	height:auto;
	position:relative;
	margin:0;
	padding:0;
}
.logo-wrapper .logo-col-1, 
.logo-wrapper .logo-col-2{
	height:60px;
	padding:10px;
	display:inline-block;
	border-right:2px solid #dfdfdf;
	margin:0;
	vertical-align:top;
}
.logo-wrapper a{
	position:relative;
	width:100%;
	height:100%;
	display:inline-block;
}
.logo-wrapper .logo-col-1 img{
	width:auto;
	height:60px;
	padding:0 0 10px;
	max-width:100%;
}
.logo-group a {
	width:auto;
	height:40px;
	margin-right:10px;
	display:inline-block;
	background: #ffffff;
    box-shadow: none;
    transition: all ease-in-out .3s;
}
.logo-group a:hover{
	/**box-shadow:0 0 7px 1px rgba(0,0,0,0.223);**/
	transition: all ease-in-out .3s;
}
.logo-group a img{
	width:auto;
	height:35px;
	padding:0 10px 0 0;
	max-width:100%;
	padding: 2px 0 0 2px;
}
.logo-wrapper .logo-col-2 .sponsor-info{
	font-size: 12px;
    font-weight: 600;
    color: #494949;
    letter-spacing: -0.35px;
    font-style: italic;
}

.logo-wrapper .logo-col-2{
	border:none;
}



/** ==== Custom CSS Added by Branch -Femi ==== **/
.mb-10{margin-bottom:10px !important;} .pb-10{padding-bottom:10px !important;}
.mb-20{margin-bottom:20px !important;} .pb-20{padding-bottom:20px !important;}
.mb-30{margin-bottom:30px !important;} .pb-30{padding-bottom:30px !important;}
.mb-40{margin-bottom:40px !important;} .pb-40{padding-bottom:40px !important;}
.mb-50{margin-bottom:50px !important;} .pb-50{padding-bottom:50px !important;}
.mb-60{margin-bottom:60px !important;} .pb-60{padding-bottom:60px !important;}
.mb-70{margin-bottom:70px !important;} .pb-70{padding-bottom:70px !important;}
.mb-80{margin-bottom:80px !important;} .pb-80{padding-bottom:80px !important;}
.mb-90{margin-bottom:90px !important;} .pb-90{padding-bottom:90px !important;}
.mb-100{margin-bottom:100px !important;} .pb-100{padding-bottom:100px !important;}
.navbar-wrapper{
	display:none !important;
}

header.header{
	display: block;
    position: relative;
    padding: 15px 5%;
    width: 100%;
    z-index: 1090;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.083);
    -webkit-transform: translate3d(0,0,0);
    transition:all ease-in-out .5s;
}
header.sticky-header{
	position:fixed !important;
	top:0;
	transition:all ease-in-out .5s;
}

body { overflow-x: hidden; }

header.header .logo{
	width: auto;
    height: 65px;
    overflow: hidden;
    float: none;
    position: relative;
    display: inline-block;
    z-index:1060;	
}
header.header .logo a{
	width:100%;
	height:100%;
	display:inline-block;
	position: relative;
}
header.header .logo a img{
	max-width: 100%;
    width: auto;
    height: 70px;
}
header.header .navbar.navbar-transparent {
    background: transparent !important;
    width: auto;
    float: right;
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
.full-page>.content {
    padding-bottom: 75px;
    padding-top: 50px !important;
}
.content-wrapper{
	padding:0;
}
.content-wrapper .content-header{
	display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 100%;
    margin: 0 0 25px;
    text-align: left;
}
.content-wrapper .content-header h2{
	font-weight:500;
	font-size:36px;
}
.white-content .card:not(.card-white) {
    box-shadow: 0 1px 10px 0 rgba(31, 31, 31, 0.105) !important;
}
.card-title{
	font-size: 20px;t;
    text-transform: uppercase;
    font-weight: 400 !important;
}
.card .card-header {
    padding: 15px 25px 0;
    border-bottom: 1px solid #efefef !important;
    background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
}
.card .card-header h2{
	color:#ffffff !important;
}
.card .card-body {
    padding: 40px 25px;
}
.card-body .col-md-6{
	max-width:49% !important;
}
.card-body.form-wrap .col-md-6{
	max-width:50% !important;
}
.card-register .card-header, .card-login .card-header {
    padding: 35px 0 35px !important;
}
.card-register .card-header h2, .card-login .card-header h2{
	font-size: 22px;
	font-weight:300 !important;
	margin:0;
}
.login-page .card-login .input-group:last-child {
    margin-bottom: 0 !important;
}
.pad{
	display:inline-block;
}
.btn-lg-pd{
	padding-left:50px !important;
	padding-right:50px !important;
}
.form-control:focus, .form-control:active{
	border-color:var(--blue) !important;
}
.login-page .link {
    font-size: 12px;
}
.input-group, .form-group{
	margin-bottom:15px;
}

.table-responsive {
    overflow: unset !important;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper select {
    margin-left: 0.5em;
    border: 1px solid #cccccc;
    box-shadow: 0 0 3px 0px rgba(20,20,20,0.105);
    line-height: 25px;
    padding: 3px 10px;
    outline:none;
}
table.dataTable thead th, table.dataTable thead td{
	font-size:15px;
}
.white-content .table>tbody>tr>td{
	font-size:15px;
}
.white-content .table>tbody>tr>td.time_c{
	color:var(--blue);
}
.white-content .table>tbody>tr>td.type_c_free{
	color:var(--green) !important;
}
.white-content .table>tbody>tr>td.type_c_paid{
	color:var(--blue) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border-radius: 3px;
    border: 1px solid #3358f4 !important;
    line-height: 18px;
    background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
}
.btn-custom{
	background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
    border-radius: 0.4285rem;
}
.btn-custom:hover{
	background: rgb(233,111,109);
	background: linear-gradient(180deg, rgba(233,111,109,1) 0%, rgba(214,36,33,1) 35%, rgba(233,111,109,1) 100%) !important;
}
.btn-header, .btn-red{
	background:rgba(214,36,33,1) !important;
	color: var(--c_white) !important;
	margin-bottom:10px !important;
}
.btn-header:hover, .btn-red:hover{
	background:#ffffff !important;
	color:var(--c_blue) !important;
}
table.dataTable.no-footer {
    border-bottom: 2px solid #d3d4d9 !important;
}

.dropdown-menu{
	min-width:100% !important;
}

.white-content .sidebar{
	margin-top:150px;
}
.sidebar, .off-canvas-sidebar{
	background: linear-gradient(0deg, #ae40ee 0%, #3358f4 100%) !important;
}
.main-panel{
	border-top:none !important;
}
.list-header h3{
	margin:0 0 15px !important;
}
.white-content .card:not(.card-white) .card-header {
    background: rgb(102,95,226);
    color: #ffffff;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%);
}
.white-content .card:not(.card-white) .card-header .card-title, .white-content .card:not(.card-white) .card-body .card-title {
    color: #ffffff !important;
}

.main-panel>.content {
    padding: 16px 30px 30px 280px;
    min-height: calc(100vh - 70px);
}
.text-white{
	color: var(--c_white);
}
.card-body .item-row{
	border-bottom: 1px solid #dfdfdf;
    line-height: 38px;
    margin: 0;
    transition: all ease-in-out .3s
}
.card-body .item-row:hover{
	background:#efefef;
	transition: all ease-in-out .3s
}
.card-body .item-row h5, .card-body .item-row label{
	margin:0;
	font-size:15px;
	font-weight:400 !important;
}
.copyright a{
	color:var(--c_blue);
}
.copyright a:hover{
	color:var(--c_red);
}
.copyright a img{
	height:30px; 
	display: none;
}
.footer {
    padding: 24px 0 24px 15px;
}
.copyright-first{
	float: left !important;
}
.hidden_all{
	display:none !important;
}


.card-inner{
	box-shadow: 0 1px 10px -2px rgba(31, 31, 31, 0.105) !important;
	margin:0;
	border-bottom:2px solid #ededed;
	border-radius:0;
}

.card-inner .avatar{
	width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 15px 0 0 15px;
    font-size: 32px;
}

.card-inner .request-content, .card-inner .request-content .request-meta{
	position:relative;
	overflow:hidden;
	display:inline-block;
}
.card-inner .request-content .request-meta p{
	display:inline-block;
	font-size:14px;
}
.card-inner .card-detail{
	padding:25px 15px;
}
.card-inner .request-content{
	font-size: 16px;
    margin-left: 25px;
}

.card-inner .request-meta p{
	display:inline-block;
	position:relative;
	font-size:15px;
	margin:0 15px 0 0;
	line-height:15px;
}
.card-inner .request-meta i{
	margin-right:5px;
	font-weight: 600;
}
.card-inner .request-comment{
	font-size:16px; 
	margin:15px 0 25px;
	position: relative;
}
.request-meta .type{
	background: #dda1ff;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px -3px rgba(30,30,30,0.104) inset;
    color: #ffffff;
}
.request-meta .type_c_free{
	background: #b3dab2;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px -3px rgba(30,30,30,0.104) inset;
    color: #ffffff;
}
.request-meta .type_c_paid{
	background: #b2b2d8;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px -3px rgba(30,30,30,0.104) inset;
    color: #ffffff;
}

.card-inner .btn-request{
	padding:7px 14px !important;
	position:relative;
	border-radius:4px;
	display:block;
}
.bottom-meta .time{
	font-size:15px;
	color:var(--c_black);
}
.hidden-mobile{
	display:block;
}
.hidden-pc{
	display:none;
}
.disclaimer{
	display:inline-block;
	width:100%;
	margin:40px 0 15px;
	padding:0 25px;
	font-size:15px;
}
.disclaimer span{
	display:block;
	margin:0 0 12px;
	font-weight:600;
}


/** ==== Media Queries ==== **/
@media only screen and (max-width:991px){
	header.header .logo{
	    height: 50px;
	}
	header.header .logo a img{
	    height: 55px;
	}
	header.header .navbar.navbar-transparent {
	    padding:0;
	    margin-top:15px;
	}
	header.header .navbar.bg-white {
	    padding: 0 25px;
	    margin-top: 12px;
	    left: 0;
	    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.120);

	}
	header.header .navbar-nav{
		float:right;
	}
	.card-body .item-row > div{
		display: inline-block;
		width: 50%;
	}
	.navbar button.navbar-toggler[data-target="#navigation"] {
	    padding-top: 0;
	    position: relative;
	    margin-left: calc(100% - 18px);
	}

	.container, .container-fluid {
    	min-width: calc(100% - 40px) !important;
    	max-width: calc(100% - 40px) !important;
    	padding:0 !important;
	}	
	.table-responsive {
    overflow-x: scroll !important;
	}
	.table-responsive td{
		min-width:100px !important;
		padding:8px 7px !important;
	}
	.table-responsive td.time{
		min-width:60px !important;
	}
	.content-header h2{
		display:block; 
		text-align:center; 
		margin:0 0 20px;
	}
	.main-panel>.content{
		padding:16px 30px 70px 30px;
	}

	table.dataTable thead th.req_type, table.dataTable thead th.name{
		min-width:120px;
	}
	.card-inner .col-md-1{
		width:20%;
		vertical-align: top;
		padding:0 0 0 15px;
	}
	.card-inner .col-md-11{
		width:80%;
		vertical-align: top;
		padding:0 15px 0 0;
	}
	.card-inner .avatar {
	    width: 45px;
	    height: 45px;
	    line-height: 45px;
	    border-radius: 50%;
	    background: #f4f5f1;
	    margin: 0px 0 0 0px;
	    font-size: 25px;
	}
	.card-inner .request-content {
	    margin-left: 5px;
	}

	.card-inner .request-meta p {
	    margin: 0 10px 10px 0;
	}
	.bottom-meta .pull-right{
		float:none;
		display:block;
	}
	.bottom-meta{
		display:inline-block;
		width:100%;
	}
	.hidden-mobile{
		display:none;
	}
	.hidden-pc{
		display:block;
	}
	.logo-wrapper .logo-col-1 img{
		height:40px;
	}
	.logo-group a {
		height:30px;
	}
	.logo-group a img{
		height:20px;
	}
	.copyright{
		width:100%;
	}
	
}

@media only screen and (max-width:620px){
	header.header .logo{
	    height: 55px;
	}
	header.header .logo a img{
	    height: 60px;
	}
	.logo-wrapper .logo-col-1 img{
		height:40px;
	}
	.logo-group a {
		height:30px;
	}
	.logo-group a img{
		height:25px;
	}
	.main-panel>.content {
    	padding: 15px 15px 70px 15px;
	}
	.welcome-cards .card-body {
    	padding: 40px 0px;
	}
	.login-page .card-body{
		padding:40px 15px;
	}
	.logo-wrapper{
		width:80%;
	}
	.logo-wrapper .logo-col-1, .logo-wrapper .logo-col-2{
		width: 80%;
	    border: 0;
	    padding: 7px 0 0 0;
	    height: auto;
	    border-bottom: 1px solid #dfdfdf;
	}
	.logo-wrapper .logo-col-2{
		border-bottom:0;
	}
	.navbar.navbar-transparent .navbar-toggler{
		position:absolute;
		top:0;
		right:0;
		transition:all ease-in-out .1s;
	}
	.navbar .navbar-toggler.collapsed, .navbar .navbar-toggler.collapse{
		position: absolute !important;
    	z-index: 1050;
	    right: -10px;
	    top: -100px;
	    transition:all ease-in-out .1s;
	}
	.navbar button.navbar-toggler[data-target="#navigation"]{
		top:0 !important;
		margin: 0;
	    position: absolute;
	    right: 0 !important;
	}
	header.header .navbar.bg-white {
   		height: 0;
   	}
	header.header .navbar-nav {
	    position: absolute !important;
	    right: 24px;
	    margin-top: -100px;
	    background: #ffffff;
	    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.123);
	}
	header.header .navbar-nav.ml-auto {
	    width: 120px;
	    position: absolute !important;
	    right: 10px;
	    margin-top: 30px;
	}
	.logo-wrapper .logo-col-2 .sponsor-info{
		font-size: 11px;
	}
}

@media only screen and (max-width:360px){
	
	.logo-wrapper .logo-col-1 img {
	    height: 30px;
	    margin: 0;
	    padding: 0 0 5px;
	}
	.logo-group a {
		height:20px;
	}
	.logo-group a img{
		height:20px;
	}
	.main-panel>.content {
    	padding: 15px 0 70px;
	}
}