:root{
	--c_blue: #2124d6;
	--c_red: #D62421;
	--c_green: #24D621;
}
body{
	font-family:'Mukta Vaani',sans-serif;
}
button, input, optgroup, select, textarea{
	font-family:'Mukta Vaani',sans-serif;	
}
h1,h2,h3,h4,h5,h6{
	font-weight:600;
}

.text-blue {
    color: #2124d6 !important;
    font-weight: bold;
}

.h2-heading {
    margin: 0px;
    display: inline-block;
}
.req-btn {
    float: right;
}
.pad {
    padding: 10px;
}
.clickable-row:hover {
    cursor: pointer;
    background-color:lightgray;
}


/** ==== Custom CSS Added by Branch -Femi ==== **/
.navbar-wrapper{
	display:none !important;
}

header.header{
	display: block;
    position: relative;
    padding: 15px 5%;
    width: 100%;
    z-index: 1090;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.083);
    -webkit-transform: translate3d(0,0,0);
    transition:all ease-in-out .5s;
}
header.sticky-header{
	position:fixed !important;
	top:0;
	transition:all ease-in-out .5s;
}

body { overflow-x: hidden; }

header.header .logo{
	width: 200px;
    height: 50px;
    overflow: hidden;
    float: none;
    position: relative;
    display: inline-block;
    z-index:1060;	
}
header.header .logo a{
	width:100%;
	height:100%;
	display:inline-block;
	position: relative;
}
header.header .logo a img{
	max-width: 100%;
    width: auto;
    height: 50px;
}
header.header .navbar.navbar-transparent {
    background: transparent !important;
    width: auto;
    float: right;
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
.full-page>.content {
    padding-bottom: 150px;
    padding-top: 100px !important;
}
.content-wrapper{
	padding:0;
}
.content-wrapper .content-header{
	display: inline-block;
    position: relative;
    padding: 0 15px;
    width: 100%;
    margin: 0 0 25px;
    text-align: left;
}
.content-wrapper .content-header h2{
	font-weight:500;
	font-size:40px;
}
.white-content .card:not(.card-white) {
    box-shadow: 0 1px 10px 0 rgba(31, 31, 31, 0.105) !important;
}
.card-title{
	font-size: 20px;t;
    text-transform: uppercase;
    font-weight: 400 !important;
}
.card .card-header {
    padding: 15px 25px 0;
    border-bottom: 1px solid #efefef !important;
    background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
}
.card .card-header h2{
	color:#ffffff !important;
}
.card .card-body {
    padding: 40px 25px !important;
}
.card-body .col-md-6{
	max-width:49% !important;
}
.card-body.form-wrap .col-md-6{
	max-width:50% !important;
}
.card-register .card-header, .card-login .card-header {
    padding: 35px 0 35px !important;
}
.card-register .card-header h2, .card-login .card-header h2{
	font-size: 22px;
	font-weight:300 !important;
	margin:0;
}
.login-page .card-login .input-group:last-child {
    margin-bottom: 0 !important;
}
.pad{
	display:inline-block;
}
.btn-lg-pd{
	padding-left:50px !important;
	padding-right:50px !important;
}
.form-control:focus, .form-control:active{
	border-color:var(--blue) !important;
}
.login-page .link {
    font-size: 12px;
}
.input-group, .form-group{
	margin-bottom:15px;
}

.table-responsive {
    overflow: unset !important;
}

.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper select {
    margin-left: 0.5em;
    border: 1px solid #cccccc;
    box-shadow: 0 0 3px 0px rgba(20,20,20,0.105);
    line-height: 25px;
    padding: 3px 10px;
    outline:none;
}
table.dataTable thead th, table.dataTable thead td{
	font-size:15px;
}
.white-content .table>tbody>tr>td{
	font-size:15px;
}
.white-content .table>tbody>tr>td.time_c{
	color:var(--blue);
}
.white-content .table>tbody>tr>td.type_c_free{
	color:var(--green) !important;
}
.white-content .table>tbody>tr>td.type_c_paid{
	color:var(--blue) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border-radius: 3px;
    border: 1px solid #3358f4 !important;
    line-height: 18px;
    background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
}
.btn-custom{
	background: rgb(102,95,226);
    color: #ffffff !important;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%) !important;
}
.btn-custom:hover{
	background: rgb(233,111,109);
	background: linear-gradient(180deg, rgba(233,111,109,1) 0%, rgba(214,36,33,1) 35%, rgba(233,111,109,1) 100%) !important;
}
table.dataTable.no-footer {
    border-bottom: 2px solid #d3d4d9 !important;
}

.dropdown-menu{
	min-width:100% !important;
}

.white-content .sidebar{
	margin-top:150px;
}
.sidebar, .off-canvas-sidebar{
	background: linear-gradient(0deg, #ae40ee 0%, #3358f4 100%) !important;
}
.main-panel{
	border-top:none !important;
}
.white-content .card:not(.card-white) .card-header {
    background: rgb(102,95,226);
    color: #ffffff;
    background: linear-gradient(180deg, rgba(102,95,226,1) 0%, rgba(33,36,214,1) 35%, rgba(102,95,226,1) 100%);
}
.white-content .card:not(.card-white) .card-header .card-title, .white-content .card:not(.card-white) .card-body .card-title {
    color: #ffffff !important;
}



/** ==== Media Queries ==== **/
@media only screen and (max-width:991px){
	header.header .navbar.navbar-transparent {
	    padding:0;
	    margin-top:15px;
	}
	header.header .navbar.bg-white {
	    padding:0 25px;
	    margin-top:30px;
	}
	header.header .navbar-nav{
		float:right;
	}

	.navbar button.navbar-toggler[data-target="#navigation"] {
	    padding-top: 0;
	    position: relative;
	    margin-left: calc(100% - 18px);
	}

	.container, .container-fluid {
    	min-width: calc(100% - 40px) !important;
    	max-width: calc(100% - 40px) !important;
    	padding:0 !important;
	}	
	.table-responsive {
    overflow-x: scroll !important;
	}
	.table-responsive td{
		min-width:100px !important;
		padding:8px 7px !important;
	}
	.table-responsive td.time{
		min-width:60px !important;
	}
	.content-header h2{display:block; text-align:center; margin:0 0 20px;}
}
