.text-blue {
    color: #2124d6 !important;
    font-weight: bold;
}

.h2-heading {
    margin: 0px;
    display: inline-block;
}
.req-btn {
    float: right;
}
.pad {
    padding: 10px;
}
.clickable-row:hover {
    cursor: pointer;
}
