/**================ CUSTOM CSS ================**/
:root{
	--blue: #59bfce;
	--blue-opaque: rgba(57,191,206,.4);
	--white: #ffffff;
}
img{
	max-width: 100%;
}
a:focus, a:hover {
    color: var(--blue);
}

/** ========= Homepage =========== **/
.tile{position:relative;min-height:100px;overflow:hidden}
.tile-lg{min-height:200px}
.tile-content{width:100%;position:absolute;padding-left:6%;padding-right:6%;padding-bottom:6%;padding-top:10%;margin-bottom:-2em;bottom:0;background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(41,53,65,0)),color-stop(50%,rgba(41,53,65,.8)),color-stop(100%,#293541));background:-webkit-linear-gradient(top,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);background:linear-gradient(to bottom,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);background-position-y:-1px;bottom:-1px;transition:padding-bottom .25s ease-in-out}
.tile-lg>.tile-content{padding-left:4%;padding-right:4%;padding-bottom:3%}
.tile-hidden{opacity:0;transition:opacity .25s ease-in-out}
.tile:hover>.tile-content>.tile-hidden{opacity:1}
.tile:hover>.tile-content{padding-bottom:3.5em}



.container{
	max-width: 1200px;
	margin:0 auto;
	position: relative;
	display: block;
	overflow: hidden;
}
.container-fluid{
	width: 100%;
	padding: 0 40px;

}
.main{
	width:100%;
}
.home .main{
	padding-top: 80px;
}
header{
	padding: 15px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1090;
	background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.083);
    -webkit-transform: translate3d(0,0,0);
    transition: all ease-in-out .5s;
}
header .logo{
	width: 200px;
}
header .logo img{
	height: 50px;
}
.btn{
	border-radius: 25px;
}

.btn_transparent.btn_ggPrimary3 {
    color: var(--blue);
    border-color: var(--blue);
	transition: all ease-in-out .3s;
}
.btn_transparent.btn_ggPrimary3:hover{
	color: var(--white);
	border-color: var(--white);
	transition: all ease-in-out .3s;
}
	
.btn_transparent.btn_ggPrimary3::before {
    border-top-color: var(--blue);
}
.btn_transparent.btn_ggPrimary2 {
    color: var(--white);
    background: var(--blue);
	border-color: var(--blue);
	transition: all ease-in-out .3s;
}
.btn_transparent.btn_ggPrimary2:hover{
	color: var(--blue);
	border-color: var(--blue);
	transition: all ease-in-out .3s;
}
.btn_transparent.btn_ggPrimary2::before {
    border-top-color: var(--white);
}
header .search-wrap{
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: bottom;
}
header .search-wrap input{
	opacity: 1;
	position: relative;
	overflow: hidden;
    border: 1px solid var(--blue);
    padding: 11px 40px 11px 16px;
    font-size: 12px;
    width: 100%;
    border-radius: 25px;
	transition: all ease-in-out .3s;
}
header .search-wrap:before{
	content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/svg/search_orange.svg);
    position: absolute;
    top: 8px;
    right: 9px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
}
.menu-wrap span{
	margin-left:12px;
}
.heroslide .btn::before {
    border-right: 5em solid var(--blue);
    border-top: 5em solid var(--blue);
}
.heroslide .btn::after {
    background:  var(--blue);
}
.heroslide .tile-content p{
	margin-bottom: 5px;
    line-height: 20px;
    font-size: 13px;
}
.tile:hover>.tile-content {
    padding-bottom: 4.5em;
}
.tile-content {
	margin-bottom: -3em;
}
.col_ggPrimary5VeryLight {
    background: #eaeaea;
}
.page-cta{
	padding-top:20px;
	padding-bottom:20px;
}
.grid-box{
	width:100%;
	position:relative;
}
.offset-lg-1{
	width: 5.5%;
	display: inline-block;
}
.text_fontSizeSmall_2{
	font-size: 18px;
	font-weight: 600;
}

.slide-group{
	width:100%;
	position:relative;
	overflow: hidden;
	margin:0;
}
.slide-group .title-box{
	width:100%;
	position:relative;
	overflow: hidden;
	margin:0;
	margin-top: 15px;
}
.slide-group .title-box img{
	display: block;
}
.slide-group .title-box .details{
	padding: 25px 25px 0; 
	width: 100%;
	position: absolute;
	bottom: -100px;
	left: 0;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(41,53,65,0)),color-stop(50%,rgba(41,53,65,.8)),color-stop(100%,#293541));
    background: -webkit-linear-gradient(top,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);
    background: linear-gradient(to bottom,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);
    background-position-y: -1px;
	transition: all ease-in .4s;
}
.slide-group .title-box:hover .details{
	bottom: 0;
	transition: all ease-in .4s;
}
.slide-group .title-box .details h4{
	font-size: 22px;
	color: #ffffff;
	margin: 0 0 60px;
	transition: all ease-in .4s;
}
.slide-group .title-box .details p{
	font-size: 14px;
	color: #ffffff;
}
.slide-group .title-box:hover .details h4{
	font-size: 22px;
	color: #ffffff;
	margin: 0 0 20px;
	transition: all ease-in .4s;
}

.card-container {
	background-color: #065173;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 260px;
    max-width: 100%;
    text-align: center;
	margin-bottom: 25px;
	margin-right: 6px;
    margin-left: 6px;
	display:inline-block;
	transition: all ease-in .15s;
}
.card-container:hover {
	box-shadow: 0px 0px 21px -1px rgba(21,21,21,0.375);
    transition: all ease-in .15s;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 20px;
	left: 20px;
}
.card-container h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: .025em;
    color: #ffffff;
    text-transform: capitalize;
}
.card-container h6{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.card-container p{
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 14px;
    color: #ffffff;
}


.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
	width:75px;
	display: inline-block;
}

button.primary {
	background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 3px;
    color: #231E39;
    font-weight: 500;
    padding: 7px 25px;
	font-size: 12px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 10px 15px;
    margin-top: 15px;
	border-radius: 0 0 5px 5px
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 5px;
	display: inline-block;
	font-size: 12px;
    margin: 0 7px 0 0;
    padding: 3px 5px;
	transition: all ease-in .15s;
}
.skills ul li:hover {
	border: 1px solid #f5f6f7;
	background: #f5f6f7;
	color: #1F1A36;
	transition: all ease-in .15s;
}
.requests-cards-slide{
	padding: 15px;
}
.grey-bg{
	background: #f5f6f7;
	padding: 60px 0;
	margin-top:50px;
}
.slick-prev:before, .slick-next:before {
    color: var(--blue);
}
.col_ggPrimary1 {
    background: var(--blue);
}
.triangle {
    border-color: var(--blue);
}
.ruleBottom_ggPrimary1::after {
    border-bottom-color: var(--blue);
}
.text_fontSizeLarge span{
	display: block;
	font-size: 15px;
}
.partners > div > img{
	width: 120px;
}
.col_ggPrimary1Text {
    color: var(--blue);
}
.hiw .col_whiteText{
	font-size: 14px;
}
.page-cta{
    margin:0 0 60px 0;
}
.card-container .buttons a.primary{
	color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    background: #59bfce;
    padding: 7px 15px;
    border-radius: 2px;
	text-decoration: none;
	transition: all ease-in .15s;
}
.card-container .buttons a.primary:hover{
	color: #231E39;
    background: #FEBB0B;
    text-decoration: none;
	transition: all ease-in .15s;
}
.dropdown.nav-item{
	width: 200px;
    display: inline-block;
    padding: 0 15px;
	position: relative;
	vertical-align:middle;
}
.dropdown.nav-item .photo{
	width: 40px;
    height: 40px;
    padding: 2.5px;
    background: #fefeff;
    border: 1px solid var(--blue);
    border-radius: 50%;
    display: inline-block;
    float: left;
}
.dropdown.nav-item .photo img{
	width: 100%;
	border-radius: 50%;
}
.dropdown.nav-item p{
	font-size: 15px;
	font-weight: 400;
	margin:0;
	float:left;
	padding:7px 15px 0 15px;
}
.dropdown.nav-item .dropdown-menu{
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 20px -5px rgba(11,11,11,0.55);
    position: absolute;
    width: 190px;
    top: -150px;
    left: 25px;
	opacity:0.3;
    transition: all ease-in .15s;
}
.dropdown.nav-item:hover .dropdown-menu{
	top: 50px;
	opacity: 1;
    transition: all ease-in .15s;
}
.dropdown.nav-item .dropdown-menu li{
	padding: 10px 0;
    margin: 0;
	transition: all ease-in .15s;
}
.dropdown.nav-item .dropdown-menu li:hover{
	background: var(--blue);
	transition: all ease-in .15s;
}
.dropdown.nav-item .dropdown-menu li a{
	display:inline-block;
	width: 100%;
	position:relative;
	text-decoration: none !Important;
	font-weight: 400;
	padding: 0 10px;
    line-height: 25px;
	transition: all ease-in .15s;
 }
.dropdown.nav-item .dropdown-menu li:hover a{
	background: var(--blue);
	color: #ffffff;
	transition: all ease-in .15s;
}
.dropdown.nav-item .dropdown-menu li.dropdown-divider{
	padding:0;
	border-top: 1px solid #fefefe;
	width:100%;
}
.main .sidebar{
	position: fixed;
    width: 100%;
    right: 0;
    top: 85px;
    z-index: 9;
    background: #fefefe;
    padding: 0;
    height: 54px;
    box-shadow: 0 0 15px -10px;
    overflow: hidden;
	border-top:1px solid #efefef;
}
.main .sidebar .logo{
	display:none;
}
.main .sidebar .nav{
	width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
	overflow:hidden;
	padding: 0;
	text-align: center;
}

.main .sidebar .nav li{
	display: inline-block;
    margin: 10px 15px;
    padding: 0;
	vertical-align:middle;
}
.main .sidebar .nav li a{
	padding: 5px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
	text-decoration: none;
}
.main .sidebar .nav li a i{
	display: none;
}
.main .sidebar .nav li a p{
	font-size: 14px;
	text-decoration: none;
}




@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

@media (max-width: 992px){
	body{
		overflow-x: hidden;
	}
	.home .main {
		padding-top: 120px;
	}
	header{
		padding: 15px 0 0 0;
	}
	.hidden-xl-m{
		display: none !important;
	}
	.container-fluid{
		width: 100%;
		padding: 0 10px;
		display: inline-block;
	}
	.offset-lg-1{
	    width: 5%;
	}

}

@media (max-width: 767px){
    .grid-md-6{
	    width: 50%;
	}
	.mobile-nav a{
	    font-size: 15px;
	}
}


@media (max-width: 600px){
    .grid-md-6{
	    width: 50%;
	}
	.mobile-nav a{
	    font-size: 13px;
	}
}




